# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/

# Build & Bundles
dist/
build/
*.egg-info/

# Databases
*.db
*.sqlite3

# IDE & Environment
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
.env
.vercel
.env*
